body {
    font-family: 'Roboto', sans-serif;;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;

    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.right_items {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.right_items, .left_items {
    /* flexbox */
    display: flex;
    gap: 18px;
}

.left_items {
    margin-left: 80px;
}

.right_items {
    margin-right: 80px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 18px;
}

.section_one {
    background-color: #1F2937;
    padding: 2px;

    /* flexbox */
    display: flex;
}

.section_one h1 {
    /* This website is awesome*/
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0;
}

.section_one p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
    margin-top: 0;
}

.section_one img {
    width: 80%;
    height: 50%;
    margin-top: 45px;
    margin-bottom: 17px;
}


.box_one {
    /* flexbox */
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 80px;
}

.box_one_one {
    /* flexbox */
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 80px;
}

.section_two h2 {
    font-size: 32px;
    color: #1F2937;
    font-style: bold;
}

.box {
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6; 
    border-radius: 20px;
}

.container {
    font-weight: 300;
}

.section_three {
    /* inspiring quote*/
    font-weight: 300;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.section_three h3 {
    font-weight: 300;
    font-style: normal;
}

.section_four {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 300;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0px;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
    font-weight: 900;
    width: 25%;
}

.button_two{
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #E5E7EB;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-weight: 300;
}